<%- include('./header.ejs')  %>
<!--slider div start-->
<div class="carousel slide dashpage" data-bs-ride="carousel" id="a">
    <div class="carousel-indicators">
        <button type="button" data-bs-target="#a" data-bs-slide-to="0"
            class="active"></button>
        <button type="button" data-bs-target="#a" data-bs-slide-to="1"></button>
        <button type="button" data-bs-target="#a" data-bs-slide-to="2"></button>
        <button type="button" data-bs-target="#a" data-bs-slide-to="3"></button>
        <button type="button" data-bs-target="#a" data-bs-slide-to="4"></button>
    </div>

    <div class="carousel-inner m-0">
        <div class="carousel-item active" data-bs-interval="4000">
            <img src="image/gettyimages-546434759-1502380542.jpg" class="w-100 "
                height="600px" alt="...">
        </div>
        <div class="carousel-item" data-bs-interval="2000">
            <img src="image/iStock-1142918319.jpg" class="w-100 " height="600px"
                alt="...">
        </div>
        <div class="carousel-item" data-bs-interval="2000">
            <img src="image/th (2).jpg" class="w-100 " height="600px" alt="...">
        </div>
        <div class="carousel-item" data-bs-interval="2000">
            <img
                src="image/photodune-1678194-group-of-graduate-students-xxl-1.jpg"
                class="w-100 " height="600px" alt="...">
        </div>
        <div class="carousel-item" data-bs-interval="2000">
            <img src="image/D430_50_073_1200.jpg" class="w-100 " height="600px"
                alt="...">
        </div>
    </div>
    <!--carousel-inner-->

    <button class="carousel-control-prev" type="button" data-bs-target="#a"
        data-bs-slide="prev">
        <span class="carousel-control-prev-icon"></span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#a"
        data-bs-slide="next">
        <span class="carousel-control-next-icon"></span>
    </button>
</div>
<!--slider div end-->
<!-- ================================================================ -->

<div class="container mb-5 text-center">
    <h1 class="course_heading mt-5">Hello jyoti
    </h1>
    <h2 class="course_heading my-3">Register Your Course</h2>
    <p class="course_para text-center mb-5">Course Registration means the
        official recording of a student's name to
        study a course or courses.</p>
    <div class="row">

        <div class="col-md-4 mb-5">
            <div class="card card1">
                <img class="card-img-top" height="200px" width="300px"
                    src="image/th (4).jpg"
                    alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title ">B.Tech</h5>
                    <p class="card-text">B.Tech is a professional undergraduate
                        engineering degree</p>
                       <% if(b){%>
                        <a href="/course_display" class="btn cors">Display</a>
                       <%} else {%>
                        <a href="" data-bs-target="#btechmodal" data-bs-toggle="modal" class="btn cors">Register</a>
                      <%}%>

                    

                </div>
            </div>
        </div>

        <div class="col-md-4 mb-4">
            <div class="card card2">
                <img class="card-img-top " height="200px!important"
                    width="300px!important"
                    src="image/th (3).jpg" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title ">BCA</h5>
                    <p class="card-text">BCA is a three-year Bachelor's Degree
                        in Computer Application </p>
                        <% if(bc){%>
                          <a href="/course_display" class="btn cors">Display</a>
                         <%} else {%>
                          <a data-bs-target="#bcamodal" data-bs-toggle="modal" class="btn cors">Register</a>
                        <%}%>
                    

                </div>
            </div>
        </div>

        <div class="col-md-4 mb-4">
            <div class="card card3">
                <img class="card-img-top " height="200px" width="300px"
                    src="image/th (5).jpg"
                    alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title ">MCA</h5>
                    <p class="card-text">MCA is a professional post-graduation
                        degree in computer science</p>
                        <% if(mc){%>
                          <a href="/course_display" class="btn cors">Display</a>
                         <%} else {%>
                          <a data-bs-target="#mcamodal" data-bs-toggle="modal" class="btn cors">Register</a>
                        <%}%>
                    

                </div>
            </div>
        </div>

    </div>
</div>

<!--Btech Modal Start-->
<div class="modal" tabindex="-1" id="btechmodal">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title text-center">B.Tech Form</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <form action="/insert" method="post"> 
                <div class="mb-3">
                  <label>Name:</label>
                   <input type="text" name="name" class="form-control">
               </div>
               <div class="mb-3">
                   <label>Email:</label>
                    <input type="text" name="email" class="form-control">
                </div>
                <div class="mb-3">
                   <label>Mobile Number:</label>
                    <input type="number" name="number" class="form-control">
                </div>
                <div class="mb-3">
                   <label>Address:</label>
                    <input type="text-area" name="address" class="form-control">
                </div>
                <div class="mb-3">
                   <label>Gender:</label>
                   <div class="form-check">
                       <input class="form-check-input" type="radio" name="gender" value="male">
                       <label class="form-check-label">
                         Male
                       </label>
                     </div>
                     <div class="form-check">
                       <input class="form-check-input" type="radio" name="gender" value="female"checked>
                       <label class="form-check-label">
                      Female
                       </label>
                     </div>
                </div>
                
                
                <div class="mb-3">
                   <label>Qualification:</label>
                   <select class="form-select" name="qualification" aria-label="Default select example">
                       <option selected> select</option>
                       <option value="12">+12</option>
                       <option value="diploma">diploma</option>
                       
                     </select>
                </div>
                <div class="mb-3">
                   <label>Course:</label>
                   <input type="text" name="course" value="b.tech" class="form-control" readonly>
                       
                       
                     </select>
                </div>
                <button type="submit" class="btn btn-secondary" data-bs-dismiss="modal">Submit</button>
               </form>
        </div>
      </div>
    </div>
  </div>
<!--Btech Modal End-->
<!--BCA Modal Start-->
<div class="modal" tabindex="-1" id="bcamodal">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title text-center">BCA Form</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <form action="/insert" method="post"> 
                <div class="mb-3">
                  <label>Name:</label>
                   <input type="text" name="name" class="form-control">
               </div>
               <div class="mb-3">
                   <label>Email:</label>
                    <input type="text" name="email" class="form-control">
                </div>
                <div class="mb-3">
                   <label>Mobile Number:</label>
                    <input type="number" name="number" class="form-control">
                </div>
                <div class="mb-3">
                   <label>Address:</label>
                    <input type="text-area" name="address" class="form-control">
                </div>
                <div class="mb-3">
                   <label>Gender:</label>
                   <div class="form-check">
                       <input class="form-check-input" type="radio" name="gender" value="male">
                       <label class="form-check-label">
                         Male
                       </label>
                     </div>
                     <div class="form-check">
                       <input class="form-check-input" type="radio" name="gender" value="female" checked>
                       <label class="form-check-label">
                      Female
                       </label>
                     </div>
                </div>
                
                
                <div class="mb-3">
                   <label>Qualification:</label>
                   <select class="form-select" name="qualification" aria-label="Default select example">
                       <option selected> select</option>
                       <option value="12">+12</option>
                       <option value="diploma">diploma</option>
                       
                     </select>
                </div>
                <div class="mb-3">
                   <label>Course:</label>
                   <input type="text" name="course" value="bca" class="form-control" readonly>
                       
                       
                     </select>
                </div>
                <button type="submit" class="btn btn-secondary" data-bs-dismiss="modal">Submit</button>
               </form>
        </div>
      </div>
    </div>
  </div>
<!--BCA Modal End-->
<!--MCA Modal Start-->
<div class="modal" tabindex="-1" id="mcamodal">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title text-center">MCA Form</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <form action="/insert" method="post"> 
                <div class="mb-3">
                  <label>Name:</label>
                   <input type="text" name="name" class="form-control">
               </div>
               <div class="mb-3">
                   <label>Email:</label>
                    <input type="text" name="email" class="form-control">
                </div>
                <div class="mb-3">
                   <label>Mobile Number:</label>
                    <input type="number" name="number" class="form-control">
                </div>
                <div class="mb-3">
                   <label>Address:</label>
                    <input type="text-area" name="address" class="form-control">
                </div>
                <div class="mb-3">
                   <label>Gender:</label>
                   <div class="form-check">
                       <input class="form-check-input" type="radio" name="gender" value="male">
                       <label class="form-check-label">
                         Male
                       </label>
                     </div>
                     <div class="form-check">
                       <input class="form-check-input" type="radio" name="gender" value="female" checked>
                       <label class="form-check-label">
                      Female
                       </label>
                     </div>
                </div>
                
                
                <div class="mb-3">
                   <label>Qualification:</label>
                   <select class="form-select" name="qualification" aria-label="Default select example">
                       <option selected> select</option>
                      
                       <option value="b.tech">B.tech</option>
                       <option value="bca">BCA</option>
                       
                     </select>
                </div>
                <div class="mb-3">
                   <label>Course:</label>
                   <input type="text" name="course" value="mca" class="form-control" readonly>
                       
                       
                     </select>
                </div>
                <button type="submit" class="btn btn-secondary" data-bs-dismiss="modal">Submit</button>
               </form>
        </div>
      </div>
    </div>
  </div>
<!--MCA Modal End-->
<%- include('./footer.ejs') %>